<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head") %>
</head>
<body>

    <%- include("../partials/header-modulo-admin") %>

    <main>

        <div class="div-titulo-boton-comprar">
            <h2 class="titulo-alta-prod">ABM de productos: Alta de un producto nuevo.</h2>
        </div>

        <section class="prods-destacados">

            <article class="articulo-detalle-desktop">
            
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="div-select-alta">
                        <label class="label-alta-prod" for="nombreProd">Nombre del producto </label>
                        <input class="input-abm" type="text" name="nombreProd" placeholder="Ingresar el nombre del producto" required>
                    </div>
                    <div class="div-select-alta">
                        <label class="label-alta-prod" for="precioProd">Precio del producto </label>
                        <input class="input-abm-precio" type="text" name="precioProd" placeholder="Ingresar precio" required>
                    </div>
                    <div class="div-select-alta">
                        <label class="label-alta-prod" for="subtitulProd">Subtitulo del producto </label>
                        <input class="input-abm" type="text" name="subtituloProd" placeholder="Ingresar el subtitulo del producto" required>
                    </div>
                    <div class="div-select-alta">
                        <label class="label-alta-prod" for="categoriaProd">Categoria </label>
                        <select class="input-abm" name="categoriaProd" required>
                        <% for (i=0; i < categories.length; i++) { %>
                            <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                        <% } %>
                        </select>
                    </div>
                    <div class="div-select-alta">
                        <label class="label-alta-prod" for="fotoProd">Foto del producto </label>
                        <input class="input-abm" type="file"  name="fotoProd" accept=".jpg, .jpeg, .png" required>
                    </div>
                    <div class="div-select">
                        <label class="label-alta-prod" for="nuevo-prod">El producto es nuevo?</label>
                        <span class="texto-span">Si</span><input class="abm-radiobutton" type="radio" name="nuevo" value="1"><span class="texto-span">No</span><input class="abm-radiobutton" type="radio" name="nuevo" value="0">
                    </div>
                    <div class="div-select">
                        <label class="label-alta-prod" for="destacado-prod">El producto es un lanzamiento destacado?</label>
                        <span class="texto-span">Si</span><input class="abm-radiobutton" type="radio" name="lanzamiento" value="1"><span class="texto-span">No</span><input class="abm-radiobutton" type="radio" name="viejo" value="0">
                    </div>
                    <div class="div-select-alta">
                        <label class="label-alta-prod" for="descripcionProd">Información adicional</label>
                        <textarea class="textarea-abm" name="descripcionProd" placeholder="Ingresar aquí la informaión adicional del producto" required></textarea>
                    </div>
                    <div class="div-select">
                        <button class="boton-abm" type="submit">Dar de ALTA</button>
                        <button class="boton-abm" type="reset">Borrar el formulario</button>
                    </div>
                </form>

            </article>

          
        </section>
        
    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>