<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sound 🎶</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:wght@400;700&family=Archivo:wght@200;400;700;900&display=swap" rel="stylesheet">

    <!-- 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@200;400;700;900&display=swap" rel="stylesheet"> 
    -->

    <link rel="stylesheet" href="/css/principal.css">

    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>

</head>
<body>

    <%- include("../partials/header") %>

    <main>

        <section class="main-listar-secciones">

        </section>
        <!-- Refactor -->
        <% categories.forEach(categorie => { %>
            <% let nuevosIngresosByCat = nuevosIngresos.filter(nuevoIngreso => {if(nuevoIngreso.categoria == categorie.id) return nuevoIngreso}) %>
            <% if (nuevosIngresosByCat.length > 0) { %>
                <h2 class="main-titulo-destacado">
                    <%= categorie.name %>
                </h2>
                <section class="prods-destacados">
                    <% nuevosIngresosByCat.forEach (ingreso => { %> 
                        <article class="articulo-destacado">
                            <div class="div-interno-art-destacado">
                                <p class="prod-dectacado__titulo"> <%= ingreso.titulo %> </p>
                            </div>
                            <div class="div-interno-art-destacado">
                                <p class="prod-destacado__detalle">
                                    <%= ingreso.subtitulo %>
                                </p>
                            </div>
                            <div class="div-interno-art-destacado">
                                <p class="prod-dectacado__precio">$<%= ingreso.precio %> </p>
                                <a class="prod-destacado__link" href="/productos/detalle/<%= ingreso.id %>"><p class="prod-destacado__button">Ver detalle</p></a>
                            </div>
                            <div class="div-imagen-prod">
                                <img class="prod-destacado__img" src="/img/products/<%= ingreso.imagen %> ">
                            </div>
                        </article>
                    <% }) %>
                </section>
                <% } %> 
        <%  }) %>

    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>