<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sound 🎶</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:wght@400;700&family=Archivo:wght@200;400;700;900&display=swap" rel="stylesheet">

    <!-- 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@200;400;700;900&display=swap" rel="stylesheet"> 
    -->

    <link rel="stylesheet" href="/css/principal.css">

    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>

</head>
<body>

    <%- include("./partials/header") %>

    <main>
        <!-- Seccion del main para listar las diferentes categorias
            1. Guitarras y bajos
            2. Baterias
            3. Amplificadores
            4. Accesorios
        -->
        <section class="main-listar-secciones">

            <article class="main-article">
                <img class="main-article__img" src="/img/article-index-guitarra.jpg">
                    <h3 class="article-titulo">GUITARRAS Y BAJOS</h3>
                    <a href="/productos/categoria/1"><p class="article-button">Ver disponibles</p></a>
            </article>

            <article class="main-article">
                <img class="main-article__img" src="/img/article-index-bateria.jpg">
                    <h3 class="article-titulo">BATERIAS</h3>
                    <a href="/productos/categoria/2"><p class="article-button">Ver disponibles</p></a>
            </article>

            <article class="main-article">
                <img class="main-article__img" src="/img/article-index-amplificador.jpg">
                    <h3 class="article-titulo">AMPLIFICADORES</h3>
                    <a href="/productos/categoria/3"><p class="article-button">Ver disponibles</p></a>
            </article>

            <article class="main-article">
                <img class="main-article__img" src="/img/article-index-accesorios.jpg">
                    <h3 class="article-titulo">ACCESORIOS</h3>
                    <a href="/productos/categoria/4"><p class="article-button">Ver disponibles</p></a>
            </article>

        </section>

        <h2 class="main-titulo-destacado">Productos Destacados</h2>

        <section class="prods-destacados">

            <% destacados.forEach (destacado => { %> 
                <article class="articulo-destacado">
                    <div class="div-interno-art-destacado">
                        <p class="prod-dectacado__titulo"><%= destacado.titulo %> </p>
                    </div>
                    <div class="div-interno-art-destacado">
                        <p class="prod-destacado__detalle">
                            <%= destacado.detalle %>
                        </p>
                    </div>
                    <div class="div-interno-art-destacado">
                        <p class="prod-dectacado__precio">$<%= destacado.precio %> </p>
                        <a class="prod-destacado__link" href="/productos/detalle/<%= destacado.id %> "><p class="prod-destacado__button">Ver detalle</p></a>
                    </div>
                    <div class="div-imagen-prod">
                        <img class="prod-destacado__img" src="/img/<%= destacado.imagen %> ">
                    </div>
                </article>
            <% }) %> 
            <!-- 
            <article class="articulo-destacado">
                <div class="div-interno-art-destacado">
                    <p class="prod-dectacado__titulo">Guitarra Fender modelo XRT 2022</p>
                </div>
                <div class="div-interno-art-destacado">
                    <p class="prod-destacado__detalle">
                        Sapiente voluptate harum veritatis voluptates similique repudiandae minima dignissimos ratione.
                    </p>
                </div>
                <div class="div-interno-art-destacado">
                    <p class="prod-dectacado__precio">$275.000</p>
                    <a class="prod-destacado__link" href="#"><p class="prod-destacado__button">Ver detalle</p></a>
                </div>
                <div class="div-imagen-prod">
                    <img class="prod-destacado__img" src="/img/destacados-jasmine-acoustic.png">
                </div>
            </article>

            <article class="articulo-destacado">
                <div class="div-interno-art-destacado">
                    <p class="prod-dectacado__titulo"> Bajo Eléctrico Jazz Combo</p>
                </div>
                <div class="div-interno-art-destacado">
                    <p class="prod-destacado__detalle">
                        Excepturi tenetur est velit qui placeat voluptates amet provident tempore, sed itaque rerum corporis, aspernatur inventore voluptate, obcaecati numquam libero delectus.
                    </p>
                </div>
                <div class="div-interno-art-destacado">
                    <p class="prod-dectacado__precio">$95.000</p>
                    <a class="prod-destacado__link" href="/productos/guitarras-y-bajos/23"><p class="prod-destacado__button">Ver detalle</p></a>
                </div>
                <div class="div-imagen-prod">
                    <img class="prod-destacado__img" src="/img/destacados-equipo-guitarra.png">
                </div>
            </article>

            <article class="articulo-destacado">
                <div class="div-interno-art-destacado">
                    <p class="prod-dectacado__titulo">Auriculares inalámbricos Bose 700 black
                </div>
                <div class="div-interno-art-destacado">
                    <p class="prod-destacado__detalle">
                        Obcaecati dolores ipsum iure eaque amet nisi dicta voluptatem illo similique atque dolorum quo tenetur!           
                    </p>
                </div>
                <div class="div-interno-art-destacado">
                    <p class="prod-dectacado__precio">$193.000</p>
                    <a class="prod-destacado__link" href="#"><p class="prod-destacado__button">Ver detalle</p></a>
                </div>
                <div class="div-imagen-prod">
                    <img class="prod-destacado__img" src="/img/destacados-audifonos.png">
                </div>
            </article>
        -->

        </section>
        
    </main>

    <%- include("./partials/footer") %>
    
</body>
</html>