<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("../partials/head") %>
    </head>
    <body>
        
        <%- include("../partials/header") %>

        <main class="main-formularios">
            <div class="body-flexbox">
                <div class="login-block">
                    <h2>¡Crea una cuenta!</h2>
                    <p class="legend legend-register">Crear una cuenta es rápido, fácil y gratis! Con ella vas a poder acceder a todas las facilidades que tenemos para ofrecerte</p>
                    <% if(locals.errors) { %>
                        <% for (let error in errors ) { %>
                            <p class="form-error"><%= errors[error].msg %></p>
                        <% } %>
                    <% } %>
                    <form action="/users/registro" method="POST" class="form-ingreso">
                        <div class="control-formulario">
                            <input type='text' placeholder="Nombre" name = "nombre" id = "nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                        </div>
                        <div class="control-formulario">
                            <input type='text' placeholder=" Apellido" name = "apellido" id = "apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                        </div>
                        <div class="control-formulario">
                            <input type='email' placeholder=" Email" name = "email" id = "email" value="<%= locals.oldData ? oldData.email : null %>">
                        </div>
                        <div class="control-formulario">
                            <input type='password' placeholder=" Contraseña" name = "password" id = "password">
                        </div>
                        <div class="control-formulario">
                            <input type='password' placeholder="Repetir contraseña" name = "password2" id = "password2">
                        </div>
                        <button type="submit" class="button button--submit">Crear cuenta</button>
                        </form>
                    <p class="legend legend--tyc">Al crear una cuenta, aceptas nuestros <a href=#>términos y condiciones</a></p>    
                </div>
                <div class="vertical-line" style="height: 150px">
                </div>
                <div class="login-block">
                    <h3>O ingresá con tus redes sociales</h3>
                    <hr>
                    <div class="social-networks">
                        <button class="button button--facebook">Continuar con Facebook</button>
                        <button class="button button--google">Continuar con Google</button>
                        <button class="button button--apple">Continuar con Apple</button>
                    </div>
                </div>
            </div>
        </main>        
       
        <%- include("../partials/footer") %>

    </body>
</html>